<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Listing</h1>
    <form action="/listings" method="POST">
        Price:
        <input type="number" name="price" min="0" />
        Street Address:
        <input type="text" name="streetAddress" />
        City:
        <input type="text" name="city" />
        Size:
        <input type="number" name="size" min="0" />
        Image:
        <input type="text" name="image" />
        <button type="submit">Add Listing</button>
    </form>
</body>
</html>